
body {
	font: 0.75em/170% Verdana, Arial, Helvetica, sans-serif;
	color: #857D74;
	margin: 0;
	background: #ADC1CE url(images/top_bg.jpg) repeat-x top;
}

a {
	color: #012349;
}

a:hover {
	text-decoration: none;
}

p, ul, ol {
	margin-bottom: 1.5em;
	line-height: 170%;
}

h1, h2, h3, h4 {
	color: #535353;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: -1px;
	line-height: 140%;
	margin-bottom: 10px;
	margin-top: 5px;
}

h1 {
	font-size: 2em;
	margin-bottom: 10px;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.6em;
}

h4 {
	font-size: 1.4em;
}

#page {
	width: 918px;
	margin: 0 auto;
}

#logo {
	float: left;
}

.wrapper {
	background: url(images/banners/rotate.php) no-repeat 0px 0px; /*rotates images in the banners folder */
	width: 970px;
	margin: 14px auto 0;
}

#header {
	position: relative;
	width: 100%;
	height: 140px;
}

#headercontent {
	position: absolute;
	bottom: 0em;
	padding: 0em 2.0em 1.3em 2.0em;
}

#headercontent h1 {
	font-weight: normal;
	font-size: 40px;
	font-family: Georgia, "Times New Roman", serif;
}

#headercontent h1 a {
	text-decoration: none;
}

/* begin Menu */
/* menu structure */

#menu {
	padding: 0 9px;
}

.artmenu a, .artmenu a:link, .artmenu a:visited, .artmenu a:hover
{
	text-align:left;
	text-decoration:none;
	outline:none;
	letter-spacing:normal;
	word-spacing:normal;
}

.artmenu, .artmenu ul
{
	margin: 0;
	padding: 0;
	border: 0;
	list-style-type: none;
	display: block;
}

.artmenu li
{
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
	float: left;
	position: relative;
	z-index: 5;
	background:none;
}

.artmenu li:hover
{
	z-index: 10000;
	white-space: normal;
}

.artmenu li li
{
	float: none;
}

.artmenu ul
{
	visibility: hidden;
	position: absolute;
	z-index: 10;
	left: 0;
	top: 0;
	background:none;
}

.artmenu li:hover>ul
{
	visibility: visible;
	top: 100%;
}

.artmenu li li:hover>ul
{
	top: 0;
	left: 100%;
}

.artmenu:after, .artmenu ul:after
{
	content: ".";
	height: 0;
	display: block;
	visibility: hidden;
	overflow: hidden;
	clear: both;
}
.artmenu, .artmenu ul
{
	min-height: 0;
}

.artmenu ul
{
	background-image: url(images/spacer.gif);
	padding: 10px 30px 30px 30px;
	margin: -10px 0 0 -30px;
}

.artmenu ul ul
{
	padding: 30px 30px 30px 10px;
	margin: -30px 0 0 -10px;
}

/* menu structure */

.artmenu
{
	padding: 0px 5px 0px 5px;
}

.nav
{
	position: relative;
	height: 49px;
	z-index: 100;
}

.nav .l, .nav .r
{
	position: absolute;
	z-index: -1;
	top: 0;
	height: 49px;
	background-image: url('images/nav.png');
}

.nav .l
{
	left: 0;
	right:5px;
}

.nav .r
{
	right: 0;
	width: 900px;
	clip: rect(auto, auto, auto, 895px);
}

/* end Menu */

/* begin MenuItem */
.artmenu ul li
{
	clear: both;
}

.artmenu a
{
	position:relative;
	display: block;
	overflow:hidden;
	height: 49px;
	cursor: pointer;
	text-decoration: none;
	margin-right: 0px;
	margin-left: 0px;
}


.artmenu a .r, .artmenu a .l
{
	position:absolute;
	display: block;
	height: 147px;
	background-image: url('images/MenuItem.png');
}

.artmenu a .l
{
	left:0;
	right:0px;
}

.artmenu a .r
{
	width:400px;
	right:0;
	clip: rect(auto, auto, auto, 400px);
}

.artmenu a .t 
{
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
	padding: 0 22px;
	margin: 0 0px;
	line-height: 49px;
	text-align: center;
}

.artmenu a:hover .l, .artmenu a:hover .r
{
	top:-49px;
}

.artmenu li:hover>a .l, .artmenu li:hover>a .r
{
	top:-49px;
}

.artmenu li:hover a .l, .artmenu li:hover a .r
{
	top:-49px;
}
.artmenu a:hover .t
{
	color: #151E23;
}

.artmenu li:hover a .t
{
	color: #151E23;
}

.artmenu li:hover>a .t
{
	color: #151E23;
}

/* end MenuItem */

/* begin MenuSeparator */
.nav .separator
{
	display: block;
	width: 1px;
	height: 49px;
	background-image: url('images/MenuSeparator.png');
}

/* end MenuSeparator */

/* begin MenuSubItem */
.artmenu ul a
{
	display:block;
	text-align: center;
	white-space: nowrap;
	height: 20px;
	width: 180px;
	overflow:hidden;
	line-height: 20px;
	margin-right: auto;
	background-image: url('images/subitem-bg.png');
	background-position: left top;
	background-repeat: repeat-x;
	border-width: 0px;
	border-style: solid;
}

.nav ul.artmenu ul span, .nav ul.artmenu ul span span
{
	display: inline;
	float: none;
	margin: inherit;
	padding: inherit;
	background-image: none;
	text-align: inherit;
	text-decoration: inherit;
}

.artmenu ul a, .artmenu ul a:link, .artmenu ul a:visited, .artmenu ul a:hover, .artmenu ul a:active, .nav ul.artmenu ul span, .nav ul.artmenu ul span span
{
	text-align: left;
	text-indent: 12px;
	text-decoration: none;
	line-height: 20px;
	color: #163F55;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
}

.artmenu ul ul a
{
	margin-left: auto;
}

.artmenu ul li a:hover
{
	color: #EDF4F7;
	background-position: 0 -20px;
}

.artmenu ul li:hover>a
{
	color: #EDF4F7;
	background-position: 0 -20px;
}

.nav .artmenu ul li a:hover span, .nav .artmenu ul li a:hover span span
{
	color: #EDF4F7;
}

.nav .artmenu ul li:hover>a span, .nav .artmenu ul li:hover>a span span
{
	color: #EDF4F7;
}

/* end MenuSubItem */

#contentwrapper {
	margin-bottom: 1.5em;
}

.container {
	background: #e7eaed;
	width: 100%;
}

.container .top {
	background: url(images/top.gif) repeat-x top;
}

.container .right {
	background: url(images/right.gif) repeat-y right;
}

.container .bottom {
	background: url(images/bottom.gif) repeat-x bottom;
}

.container .left {
	background: url(images/left.gif) repeat-y left;
}

.container .lb {
	background: url(images/l_b.gif) left bottom no-repeat;
}

.container .rb {
	background: url(images/r_b.gif) right bottom no-repeat;
}

.container .lt {
	background: url(images/l_t.gif) left top no-repeat;
	width: 100%;
}

.container .rt {
	background: url(images/r_t.gif) right top no-repeat;
	width: 100%;
}

.content-padding {
	padding: 1.5em;
}

div.admin .left {
	background: none;
}

div.admin .right {
	background: none;
}

#main {
	width: 99%;
	float: left;
	min-height: 180px;
}

.sidebars-1 #main {
	width: 65%;
	float: left;
}

#sidebar-right {
	width: 33%;
	float: right;
}

.col_bg {
	background: #f8f8f8;
}

.lt_2 {
	background: url(images/lt_2.gif) left top no-repeat;
}

.rt_2 {
	background: url(images/rt_2.gif) right top no-repeat;
}

.rb_2 {
	background: url(images/rb_2.gif) right bottom no-repeat;
}

.lb_2 {
	background: url(images/lb_2.gif) left bottom no-repeat;
}

.right_2 {
	background: url(images/right_2.gif) repeat-y right;
}

.left_2 {
	background: url(images/left_2.gif) repeat-y left;
}

.top_2 {
	background: url(images/top_2.gif) repeat-x top;
}

.bottom_2 {
	background: url(images/bottom_2.gif) repeat-x bottom;
}

#metatoolbox {
	background: url(images/bg-search-24.png) no-repeat;
	position: absolute;
	width: 330px;
	height: 54px;
	right: 2.0em;
	padding: 10px 20px 0 20px;
	margin-top: -14px;
}

#search .form-text {
	width: 188px;
}

html.js #metatoolbox {
	top: -100px;
}

input.form-text, textarea.form-textarea {
	border: 1px solid #a0a0a0;
	padding: 2px;
}

#user-login-form {
	text-align: left;
}

#user-login-form .form-item input {
	width: 95%;
}

#user-login-form input.form-submit {
	margin-bottom: 10px;
}

.node {
	margin: 0 0 30px;
	padding: 0 10px;
}

.footer {
	clear: both;
}

.footer .block {
	padding: 10px;
}

.footer_left {
	float: left;
	width: 33%;
}

.footer_middle {
	float: left;
	width: 33%;
}

.footer_right {
	float: left;
	width: 33%;
}

.footerCopy {
	background: #013148;
	color: #fff;
	position: relative;
	height: 1em;
	clear: both;
	padding-top: 3.5em;
}

.footerCopy .left {
	position: absolute;
	left: 2.0em;
	bottom: 1.2em;
}

.footerCopy .right {
	position: absolute;
	right: 2.0em;
	bottom: 1.2em;
}

.footerCopy a {
	color: #728a8a;
}

.region-content {
	margin-bottom: 1.5em;
}

#featured .block,
#top_right .block,
#featured #mission {
	padding: 24px 20px 18px 22px;
	min-height: 180px;
}

.block {
	margin-bottom: 1.5em;
}

.block .title {
	font-size: 1.8em;
	letter-spacing: normal;
	line-height: 32px;
}

.breadcrumb {
	font-size: .85em;
}

.submitted {
	padding: 2px 0 2px 20px;
	background: url(images/date-plain.png) left center no-repeat;
	color: #999;
	font-weight: bold;
}

h3.commentTitle {
	font-size: 1.35em;
	margin: 0;
	padding: 0;
}

.commentTitle a {
	margin: 0;
	padding: 0;
}

div.comment {
	background-color: #ffffff;
	padding: 10px;
	margin: 10px 0px;
	border: 1px solid #cccccc;
}

.metadata {
	font-size: smaller;
	clear: both;
	margin: 2px 0 0 0;
	padding: 5px 0 0 0;
	color: #AAAAAA;
	line-height: 16px;
}

.chronodata {
	padding: 2px 0 2px 20px;
	background: url(images/date-plain.png) left center no-repeat;
}

div.meta div.links ul.links a {
	background-repeat: no-repeat;
	padding-left: 18px;
	background-position: 0 50%;
}

div.meta div.links ul.links li.comment_add a {
	background-image: url(images/mini-comment.png);
}

div.meta div.links ul.links li.comment_comments a {
	background-image: url(images/mini-comment.png);
}

div.meta div.links ul.links li.comment_edit a {
	background-image: url(images/mini-edit.png);
}

div.meta div.links ul.links li.comment_delete a {
	background-image: url(images/mini-trash.png);
}

div.meta div.links ul.links li.comment_reply a {
	background-image: url(images/mini-comment.png);
}

div.meta div.links ul.links li.blog_usernames_blog a {
	background-image: url(images/user-plain-green.png);
}

div.meta div.links ul.links li.upload_attachments a {
	background-image: url(images/photo.png);
}

div.meta div.links ul.links li.node_read_more a {
	background-image: url(images/arrow-single-right-green.png);
}

div.meta div.links ul.links li.book_add_child a {
	background-image: url(images/doc-option-add.png);
}

.terms {
	background-repeat: no-repeat;
	background-image: url(images/folder-open-green.png);
	padding-left: 20px;
	padding-bottom: 5px;
}

td, th {
	padding: 0.3em 0.5em 0.5em;
}

table tr.odd {
	background-color: #f3f3f3;
}

table tr.even {
	background-color: #ffffff;
}

tbody {
	border-top: none;
}

.item-list ul.pager {
	margin: 0px;
	padding-top: 10px;
}

.item-list .pager li {
	margin: 0px;
	padding: 3px;
}

.item-list .pager li.pager-current {
	color: #fff;
	padding: 4px;
	background-color: #bbb;
	border: 1px solid #000;
}

#menu ul.links li {
	padding: 0;
}

.messages {
	background-color: #fff;
	border: 1px solid #b8d3e5;
}

.messages, .preview {
	margin: .75em 0 .75em;
	padding: .5em 1em;
}

div.status {
	color: #33a333;
	border-color: #c7f2c8;
}

dl dd {
	margin: 0 0 .5em 1.5em;
}