
/* begin Menu */

.artmenu ul
{
	height: 1%;
	width:1px;
}

.artmenu, .artmenu ul
{
	height: 1%;
}

.artmenu li.artmenuhover
{
	z-index: 10000;
}

.artmenu .artmenuhoverUL
{
	visibility: visible;
}

.artmenu .artmenuhoverUL
{
	top: 100%;
	left: 0;
}

.artmenu .artmenuhoverUL .artmenuhoverUL
{
	top: 0;
	left: 100%;
}

.artmenu ul a
{
	height: 1%;
}

.artmenu li li
{
	float: left;
	width: 100%;
}

.artmenu .artmenuhoverUL .artmenuhoverUL
{
	top: 5px;
	left: 100%;
}

.artmenu, .artmenu ul
{
	height: 1%;
}

.artmenu li.artmenuhover
{
	z-index: 10000;
}

.artmenu .artmenuhoverUL
{
	visibility: visible;
}

.artmenu .artmenuhoverUL
{
	top: 100%;
	left: 0;
}

.artmenu .artmenuhoverUL .artmenuhoverUL
{
	top: 0;
	left: 100%;
}

.artmenu ul a
{
	height: 1%;
}

.artmenu li li
{
	float: left;
	width: 100%;
}

.nav
{
	zoom: 1;
}

.nav .l, .nav .r
{
	font-size: 1px;
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/nav.png',sizingMethod='crop')");
}

.nav .l
{
	width: expression(this.parentNode.offsetWidth-5+'px');;
}

.nav .r
{
	left: expression(this.parentNode.offsetWidth-900+'px');
	clip: rect(auto auto auto 895px);
}
/* end Menu */

/* begin MenuItem */
.artmenu a
{
	float:left;
}

.artmenu a:hover
{
	visibility:visible;
}

.artmenu a .r, .artmenu a .l
{
	font-size:1px;
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/MenuItem.png',sizingMethod='crop')");
}

.artmenu a .r
{
	left: expression(this.parentNode.offsetWidth-400+'px');
	clip: rect(auto auto auto 400px);
}

.artmenu a .l
{
	width: expression(this.parentNode.offsetWidth-0+'px');
}

.artmenuhover .artmenuhoverA .t
{
	color: #151E23;
}

.artmenuhover .artmenuhoverA .l, .artmenuhover .artmenuhoverA .r
{
	top: -49px;
}
/* end MenuItem */

/* begin MenuSeparator */
.nav .separator
{
	font-size: 1px;
	zoom:1;
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/MenuSeparator.png',sizingMethod='crop')");
}
/* end MenuSeparator */

/* begin MenuSubItem */

.artmenu ul a
{
	color: #163F55 !important;
}

.artmenu ul a:hover {
	color: #EDF4F7 !important;
}	

.artmenu ul .artmenuhover .artmenuhoverA
{
	color: #EDF4F7 !important;
	background-position: 0 -20px;
}

.nav .artmenu ul a:hover span, .nav .artmenu ul a:hover span span
{
	color: #EDF4F7 !important;
}	

.nav .artmenu ul .artmenuhover .artmenuhoverA span, .nav .artmenu ul .artmenuhover .artmenuhoverA span span
{
	color: #EDF4F7 !important;
}

/* end MenuSubItem */

.nav ul.artmenu ul span, .nav ul.artmenu ul span span
{
	padding: 0;
}