
/* begin Menu */
.nav .r
{
	clip: rect(auto auto auto 895px);
}
/* end Menu */

/* begin MenuItem */
.artmenu a .r
{
	clip: rect(auto auto auto 400px);
}
/* end MenuItem */

.artmenu ul li
{
	list-style-type: none;
	list-style-image: none;
}

.nav ul.artmenu ul span, .nav ul.artmenu ul span span
{
	padding: 0;
}